
/*Import Roboto Font*/
@import url('https://fonts.googleapis.com/css?family=Overlock|Roboto|Dosis');

.cf{font-family: 'Dosis', sans-serif;} /*Fuente predeterminada*/

.margin-tb-30{margin-top:30px;margin-bottom:30px;}

.b-none{border:none!important;}

.form-control {  font-size: 35px;}


.t-align-center{text-align:center;}
.t-align-left{text-align:left;}

[type=checkbox]{display: none}

label.md-m-auto {margin: auto!important; }

/*==========  Mobile First Method  ==========*/

/* Custom, smartphones */ 
@media (max-width: 480px) {

  label img {height: 110px;width: 110px;transition-duration: 0.2s;transform-origin: 50% 50%;}
 
  .form-row label, .form-row .form-holder {width: 95%; }
  
  .sm-ml-10{margin-left:10px;}
  .sm-mb-20{margin-bottom:20px!important;}
  .sm-mb-40{margin-bottom:40px!important;}
    
  
}



@media (max-width: 767px){
  
.form-row label {
    margin-bottom: 5px;
    display: block;
}


/**********************CSS DE WEB******************************************************************/

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition-duration: 0.4s;
  transform: scale(0);
}

/* label img {
  height: 150px;
  width: 140px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
} */

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: #8bc34a;
  transform: scale(1);
  font-size:25px;
}

:checked + label img {
  transform: scale(0.9);
  /*box-shadow: 0 0 5px #333;*/
  z-index: -1;
}

$green: #22b573;
$grey: #555;
$transitionSpeed: 200ms;

input[type="checkbox"] + label {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid $grey;
  border-radius: 100%;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  transition: all ease-out $transitionSpeed;
  text-indent: 90px;
  font: normal normal 30px/60px "Helvetica";
  white-space: nowrap;
  color: $grey;
  user-select: none;
  
   &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 25px;
    border-bottom: 10px solid $green;
    border-left: 10px solid $green;
    top: 25%;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out $transitionSpeed;
  }
}

input[type="checkbox"]:checked + label {
  border: 10px solid $green;
  
  &:after {
    opacity: 1;
    width: 70px;
  }
}

#chk1,#chk2,#chk3,#chk4,#chk5,#chk6,#chk7,#chk8,#chk9,#chk10,#chk11,#chk12,#chk13,#chk14,#chk15,#chk16,#chk17,#chk18,#chk19 {
  display: none;
}